<footer>
    
    <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <h3>Conócenos en nuestras redes sociales</h3>
            <p></p>
            <p class="social">
              <a href="#"><span class="bi bi-twitter"></span></a>
              <a href="#"><span class="bi bi-facebook"></span></a>
              <a href="#"><span class="bi bi-instagram"></span></a>
              <a href="#"><span class="bi bi-linkedin"></span></a>
            </p>
          </div>
          <div class="col-md-7 ms-auto">
            <div class="row site-section pt-0">
              <div class="col-md-4 mb-4 mb-md-0">
                <h3>Navegación</h3>
                <ul class="list-unstyled">
                  <li><a routerLink="/nosotros">¿Quienes somos?</a></li>
                  <li><a routerLink="/productos">Productos</a></li>
                  <li><a routerLink="/contacto">Contacto</a></li>
                </ul>
              </div>
              <div class="col-md-4 mb-4 mb-md-0">
                <h3>Descargas</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Obtener de la App Store</a></li>
                  <li><a href="#">Obtener de la Play Store</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <p class="copyright">&copy; NeuTraz. Todos los derechos reservados</p>
            <div class="credits">
              
            </div>
          </div>
        </div>
  
      </div>

</footer>