<header id="header" class="fixed-top d-flex align-items-center" [class.header-scrolled]="isScrolled" >
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <h1><a routerLink="/inicio" >NeuTraz </a></h1>
      </div>
  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="active " routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/nosotros">¿Quíenes somos?</a></li>
      <li><a routerLink="/productos">Productos</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i> 
  </nav>
    
      </div>
  </header>