<header id="header" class="fixed-top d-flex align-items-center" [class.header-scrolled]="isScrolled">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <h1><a routerLink="/inicio" (click)="closeMobileNav()">NeuTraz</a></h1>
    </div>
    <nav id="navbar" #navbar class="navbar">
      <ul>
        <li><a class="active" routerLink="/inicio" (click)="closeMobileNav()">Inicio</a></li>
        <li><a routerLink="/nosotros" (click)="closeMobileNav()">¿Quiénes somos?</a></li>
        <li><a routerLink="/productos" (click)="closeMobileNav()">Productos</a></li>
        <li><a routerLink="/contacto" (click)="closeMobileNav()">Contacto</a></li>
      </ul>
      <i class="bi mobile-nav-toggle" [ngClass]="{'bi-list': !isMobileNavOpen, 'bi-x': isMobileNavOpen}" (click)="toggleMobileNav()"></i>
    </nav>
  </div>
</header>
