<section class="hero-section inner-page">
    <div class="wave">

      <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
          </g>
        </g>
      </svg>

    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-md-7 text-center hero-text">
              <h1 data-aos="fade-up" data-aos-delay="">¿Quiénes Somos?</h1>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 me-auto">
          <h2 class="mb-4">¿Quiénes somos?</h2>
          <p class="mb-4">
            Somos Neutraz una empresa dedicada al desarrollo de aplicaciones móviles,
            con el objetivo de ayudar a las personas que padecen de Parkinson,
            a través de un prediagnóstico que se realiza por medio de trazos.
          </p>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <img src="assets/entornos/entorno2.svg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 ms-auto order-2">
          <h2 class="mb-4">Misión</h2>
          <p class="mb-4">
            Nuestra misión es desarrollar una aplicación móvil que ayude a las personas que padecen de Parkinson, 
            a través de un prediagnóstico que se realiza por medio de trazos, 
            con el objetivo de que el usuario pueda tener un control de su enfermedad.
          </p>
        </div>
        <div class="col-md-6" data-aos="fade-right">
          <img src="assets/entornos/entorno5.svg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 me-auto">
          <h2 class="mb-4">Visión</h2>
          <p class="mb-4"> 
            Ser considerada una empresa referente en el marco nacional a través de su calidad educativa, profesionista y de servicios, con un enfoque sustentable, 
            llevando a cabo el fortalecimiento de una sociedad incluyente. 
            De igual manera ir innovando, pues bien se sabe cada día surgen nuevas y diferentes tecnologías.
          </p>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <img src="assets/entornos/entorno3.svg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 ms-auto order-2">
          <h2 class="mb-4">Objetivo</h2>
          <p class="mb-4">
            El objetivo de la aplicación es ayudar a las personas que padecen de Parkinson, 
            a través de un prediagnóstico que se realiza por medio de trazos, 
            con el objetivo de que el usuario pueda tener un control de su enfermedad.
           </p>
        </div>
        <div class="col-md-6" data-aos="fade-right">
          <img src="assets/entornos/entorno4.svg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>